/*Global Selectors*/
body, html {
    height: 100%;
    margin: 0;
    font-size: 24px;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #121417;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
}
/*Div Selectors*/
.main-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    overflow: hidden;
}
.search-div {
    background-color: #23272a;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid #0f0f0f;
    flex-shrink: 0;
}
.main-details-div {
    width: 40%;
}
.details-div {
    display: flex;
    gap: 16px;
    flex: 1;
    overflow: hidden;
}
.stats-details-div {
    flex: 1;
}
.main-details-div, .stats-details-div {
    background-color: #23272a;
    padding: 16px;
    border-radius: 12px;
    border: 2px solid #0f0f0f;
    overflow-y: auto;
}
/*Elements Selectors*/
.search-div input, .search-div button {
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    border-radius: 6px;
    border: none;
    outline: none;
}
.search-div button {
    cursor: pointer;
}

.stats-details-div table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.stat-label, .stat-data {
    padding: 8px;
}
.stat-label {
    width: 30%;
    word-wrap: break-word;
    font-weight: bold;
}
.stat-data {
    width: 70%;
    word-wrap: break-word;
}

.main-details-div table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.detail-label, .detail-data {
    padding: 8px;
}
.detail-label {
    width: 40%;
    word-wrap: break-word;
    font-weight: bold;
}
.detail-data {
    width: 60%;
    word-wrap: break-word;
}
@media (max-width: 768px) {
    body, html {
        height: 100%;
        margin: 0;
        font-size: 16px;
    }
}


